.Beneficiary--inner-wrapper {
  display: flex;
  flex-direction: column;
}

.Beneficiary--header {
  width: 100%;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--disabled);
}

.Beneficiary--header > h1 {
  cursor: default;
}
.Product-field-grid {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.field-header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.field-header > i {
  font-size: 1.2rem;
}

.Beneficiary-product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.batch-number-label {
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
  background-color: #ffdfc1;
  color: #ff6b00;
}

.Beneficiary--product {
  padding: 1.25rem;
}

.Beneficiary-product-card {
  padding: 1.2rem;
  border-radius: 0.6rem;
  background-color: #eaf1fe;
}

.Beneficiary--body {
  padding: 1.25rem;
}

.Beneficiary--Image-space > img {
  width: 16rem;
  object-fit: contain;
}

.Beneficiary--Empty-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Beneficiary--Add-wrapper {
  padding: 1rem 0;
}

.Beneficiary--Add-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
}

.Add-form-space {
  padding: 1rem 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 0.5fr 1fr;
  gap: 2rem;
}

.Beneficiary--action > button {
  width: 60% !important;
  justify-content: center;
}

.Result-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.Result-title-space {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.card-number-label {
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  background-color: #fee1e1;
  color: #d80027;
}
.Result-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem 0;
}
.Result-single-card {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #eee;
  position: relative;
}
.more-action-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.result-stats {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  cursor: pointer;
  padding: 0.6rem;
}

.result-variant-0 {
  background-color: #fcfeee;
}
.result-variant-1 {
  background-color: #eefdfe;
}

.result-variant-2 {
  background-color: #f2e3e3;
}

.result-variant-3 {
  background-color: #e6dcf2;
}

.result-variant-4 {
  background-color: #e5ffec;
}

.result-variant-5 {
  background-color: #fff0c7;
}

.result-variant-6 {
  background-color: #ffccc7;
}

.result-variant-7 {
  background-color: #c7ffd0;
}
.result-variant-8 {
  background-color: #e0c7ff;
}
.result-variant-9 {
  background-color: #c7fbff;
}
.result-variant-10 {
  background-color: #f8ffc7;
}

.radio-btn-card {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.radio-btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.card_btn {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  display: inline-flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
  font-size: 0.8rem;
  cursor: pointer;
}
.card_btn > span > i {
  font-size: 0.8rem;
}

.edit_delete_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
  padding-top: 0.6rem;
}

.btn_delete {
  color: #d80027;
}

.btn_edit {
  color: #0053d8;
}

.complete_btn_groups {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
