@import '../../assets/styles/global.scss';

.sidebar {
  background: #0B65C1;
  box-shadow: 5px 0px 10px #00000029;
  border-radius: 10px 30px 30px 10px;
  height: calc(100vh - 80px);
  color: #999999;
  color: $white;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 70px 20px 0 25px;
  z-index: 9;
  top: 80px;


  @media screen and (max-width: 768px) {
    display: none;
  }


  ul {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style-type: none;
    
    

    li {
      list-style: none;
      margin-bottom: 2rem;
      color: #ffffff;
      padding: 3px;
      
    

      a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
        color: #ffffff;
        cursor: pointer;
        color: inherit;
        text-decoration: none;
        
      }

      &.active {
      
        color:white;
        cursor: default;
        position: relative;
        background-color: #084787;
        display: block;
        font-size: 20px;
        border-radius: 10px 10px 10px 10px;
        width: 110px;
        padding: 3px 0px 0px;
        height: 40px;
        text-align: center;
        
        
        &:after {
          content: "";
          width: 0px;
          height: 0;
          //background-color: #FFFFFF;
          position: absolute;
          right: -20px;
          top: -8px;
          border-radius: 0px 0 0 0px;
        }
      }

      span {
        font-size: 13px;
      }

      img {
        width: 17px;

      }
    }
  }
}