.location-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.location-card-container {
  background: transparent
    linear-gradient(155deg, #ffafbd 0%, #ffc3a0 59%, #ff9557 100%) 0% 0%
    no-repeat padding-box;
  padding: 12px;
}
.partner-card-container{
  padding: 12px;
}
.loc-card {
  border-radius: 11px;
}
.partner-card-container {
  background: #4e6af1 0% 0% no-repeat padding-box;
}
.location-small-box {
  background-color: var(--white-200);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 56px;
}
.location-icon {
 font-size: 30px;
}
.location-card-section2-heading{
  font-size: 32px;
  font-weight: bold;
}
.location-card-section2-subtext{
  font-size: 14px;
}