.navBar {
  width: 100%;
  height: 85px;
  background: #fff;
  color: #0b65c1;
}
.navContainer {
  padding: 0 1.25rem;
}
.nav {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 14rem;
}
.navList {
  display: flex;
  align-items: center;
}
.navItems {
  margin: 0 1.25rem;
  list-style: none;
  cursor: pointer;
}
.navItems:last-child {
  margin-left: 0;
  margin-right: 0;
}
.navList .notifyList {
  margin-left: 0;
  margin-right: 2rem;
}
.navList .divider {
  height: 3rem;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-right: 0.6rem;
  border: 1px solid #0466c8;
  border-radius: 7px;
  padding: 3px 10px;
}
.searchHide {
  display: none;
}
.searchBar .searchInput {
  font-size: 0.9rem;
}
.navBar .hambergerMenu {
  display: none;
}
.navBar .navIcons {
  font-size: 1.5rem;
}
.navBar .navIcons .notify {
  font-size: 1.5rem;
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navCard {
  margin-left: 0.6rem;
}
.profileName {
  text-align: left;
  margin-left: 0.2rem;
}
.nav-heading {
  font-size: 1rem;
}
.nav-subheading {
  font-size: 0.8rem;
}
@media screen and (max-width: 1280px) {
  .logo img {
    width: 14.3rem;
  }
  .navItems {
    margin: 0 0.7rem;
    list-style: none;
  }
  .navItems:last-child {
    margin-left: 0.7rem;
    margin-right: 0;
  }
  .navCard {
    margin-left: 0.4rem;
  }
  .navBar .navIcons {
    font-size: 1.4rem;
  }
  .navBar .navIcons .notify {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 992px) {
  .logo img {
    width: 12.5rem;
  }
  .navItems {
    margin: 0 0.6rem;
    list-style: none;
  }
  .navItems:last-child {
    margin-left: 0.3rem;
    margin-right: 0;
  }
  .navCard {
    margin-left: 0.3rem;
  }
  .navBar .navIcons {
    font-size: 1.25rem;
  }
  .navBar .navIcons .notify {
    font-size: 1.25rem;
    margin-right: 0.3rem;
  }
  .searchBar {
    width: 230px;
    padding: 2px 10px;
  }
  .navList .notifyList {
    margin-left: 0;
    margin-right: 1.5rem;
  }
  .divider {
    margin-left: 0.6rem;
  }
}
@media screen and (max-width: 786px) {
  .logo img {
    width: 11.2rem;
  }
  .navList {
    display: none;
  }
  .navBar .hambergerMenu {
    display: block;
    font-size: 1.8rem;
  }
}
