@import '../../assets/styles/global.scss';

footer {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 8px;
  position: fixed;
  bottom: -2.5rem;
  align-self: center;

  p {
    margin-bottom: -2px;
    padding: 3px;
    
  }

  .footer-branding {
    display: flex;
    margin-top: -0.9rem;
    margin-bottom: .9rem;
    padding: 16px;

    img {
      width: 100px;
      height: 20px;
      margin-bottom: 30px;
     
    }

    @media screen and (max-width: 768px){
      width: 150px;
    }

    h1 {
      font-size: 19px;
      font-weight: bold;
      letter-spacing: 1.9px;
      text-transform: uppercase;

      &:last-child {
        color: $black;
      }
    }
  }
}